body{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(to right,#00132e,#022f69);  
  justify-content: center;    
  height: 100vh; 
}
.container{
font-size: 20px;
background: linear-gradient(to right,#00132e,#022f69);  
color: white;
}

.user-box{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  
}

input{
  background-color: transparent;
  border: 0;
  color: aqua;
  font-size: 14px;
  padding: 10px;
  letter-spacing: 2px;
  outline: 0;
  caret-color: rgba(0, 212, 255, 0.9);
  border-bottom: 2px solid #6d83a0;
}



.card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #00132e;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 38px;  
  margin: 10px;
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
}

.card-hold{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
}

p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;

}


.btn {
  margin: 10px;
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all .3s ease;
  
}

.outline:hover{
  transform: scale(.925);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;  
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255,255,255,0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
}

.fill:hover{
  transform: scale(.925);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;    
}

.icons{
  margin-right: 5px;
}



